<?xml version="1.0"?>
<!--
Author: Rouven Reichert (rouven.reichert@stud.uni-hannover.de)
-->

<launch>

	<!-- Gamepad input -->
	<node name="joy_node" pkg="joy" type="joy_node"/>

	<!-- Establish serial connection to Arduino Uno -->
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" >
		<param name="port" value="/dev/ttyACM0" />
	</node>

	<!-- Node for toggling the LED -->
	<node name="single_led_toggler" pkg="joy_arduino" type="single_led_toggler"/>

</launch>
